.login-modal {
  display: flex;
  flex-direction: column;
  width: 60%;
  input {
    padding: 20px;
  }
  .wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    button {
      width: 40%;
    }
  }

}
