.login-modal, .signup-modal {
  display: flex;
  flex-direction: column;
  width: 60%;
  h3 {
    padding: 40px;
  }
  input {
    padding: 20px;
    border: none;
  }
  .wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    button {
      width: 40%;
    }
  }

}
